@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
 
}
   body{
    background-image: linear-gradient(to right, #014040, #07c08c) ;
   }
main{
    background-color: white;
    border-radius: 45px;
    box-shadow: 5px 5px 15px #0e6131ab;
    width: 600px;
    padding: 10px;
    margin: auto;

}
h1{
    color: #F27405;
    text-align: center;
    text-shadow: 1px 1px 2px #823f04be;
}
h2{
    color: #0bb11ee8;
}
p{
    text-align: justify;
}
